#brandNameFooter {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding-left: 0;
}

#brandNameCopyright {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  padding-left: 50px;
}
