<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top d-flex justify-content-center">
    <div class="row ">
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a href="https://www.pexels.com/search/planets/" class="text-muted" target="_blank">Planet images</a></li>
          <li><a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" class="text-muted" target="_blank">Bootstrap</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a href="https://swapi.co/api/" class="text-muted" target="_blank">API</a></li>
          <li><a href="https://angular.io/guide/component-interaction" class="text-muted" target="_blank">Angular</a></li>
          <li><a href="https://www.typescriptlang.org/docs/home.html" class="text-muted" target="_blank">Typescript</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a href="https://rafake.github.io/" class="text-muted" target="_blank">Author's portfolio</a></li>
          <li><a href="https://github.com/rafake/StarScan" class="text-muted" target="_blank">GitHub</a></li>
          <li><a class="text-muted" href="https://www.linkedin.com/in/rafal-kelm/" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
