.jumbotron--bg {
  //background: url("../../../assets/images/astrology-astronomy-beautiful-566169.jpg");
  //  //background-attachment: fixed;
  //  //background-position: 10% -95%;
  //  //background-size: cover;
  background-color: #000;
}

.jumbotron-heading--size {
  font-weight: bolder;
  font-size: 90px;
  color: #FFE919;
}

