<section class="jumbotron jumbotron-fluid text-center jumbotron--bg">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="./assets/video/AnimationStars.mp4" type="video/mp4">
  </video>
  <div class="container">

<!--    heading-->
    <h1 class="jumbotron-heading text-white jumbotron-heading--size mb-1">STAR WARS</h1>
    <p class=" text-light h3">planet browser</p>
<!--    end of heading-->

<!--    searchbar-->
    <form (submit)="onSubmit($event)" class="input-group mb-3">
      <input #searchInput name="searchInput" [(ngModel)]="searchPhrase" type="text" class="form-control" placeholder="Enter the planet name" aria-label="searchBar">
      <div class="input-group-append">

<!--        button sending a request to server-->
        <button (click)="sendSearchRequest(searchInput.value)" class="btn btn-light" type="submit" id="button-addon2"><img src="./assets/images/search.svg" alt="Search" width="15px" height="15px"> </button>
<!--        end of button-->

      </div>
    </form>
<!--    end of searchbar-->

  </div>
</section>

