<section class="jumbotron jumbotron-fluid text-center jumbotron--bg">
  <div class="container">
<!--    heading-->
    <h1 class="jumbotron-heading text-white jumbotron-heading--size">Search galaxies</h1>
    <p class="lead text-light">and find distant Star Wars planets with StarScan!</p>
<!--    end of heading-->

<!--    searchbar-->
    <form (submit)="onSubmit($event)" class="input-group mb-3">
      <input #searchInput name="searchInput" [(ngModel)]="searchPhrase" type="text" class="form-control" placeholder="Enter a search phrase (e.g. a planet name)." aria-label="searchBar">
      <div class="input-group-append">

        <button (click)="sendSearchRequest(searchInput.value)" class="btn btn-light" type="submit" id="button-addon2"><img src="../assets/images/search.svg" alt="Search" width="15px" height="15px"> </button>
      </div>
    </form>
<!--    end of searchbar-->

  </div>
  {{ searchPhrase }}
</section>

