<div class="album py-5 bg-light">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center m-5" *ngIf="!isLoaded">
      <div class="spinner-border text-dark" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center m-3 text-dark h5" *ngIf="!isLoaded">Please wait until the planets are loaded.</div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4" *ngIf="isLoaded && mainSearchView">
      <!--          <h1 class="h3 mb-0 text-gray-800"> {{ planet.name }} </h1>-->
      <button (click)="getFirstPageArray()" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"> Back to Home</button>
    </div>
    <div class="row" *ngIf="isLoaded">

      <!--        planets' components-->
        <div class="col-md-4"
             *ngFor='let planet of planetsStored | slice:startIndex:endIndex;'>
        <div class="card mb-4 shadow-sm">
          <a routerLink="/planets/{{!planetService.searchView ? (linkProvider(planetsStored, 'name', planet.name) + 1) : this.planetService.planetIdService}}">
          <img [src]="imagesForPlanets[planet.name]" class="card-img-top pic-hover" alt="planet">
          </a>
          <div class="card-body">
            <h5 class="card-title text-dark"><a class="text-dark h3 font-weight-bold" routerLink="/planets/{{!planetService.searchView ? (linkProvider(planetsStored, 'name', planet.name) + 1) : this.planetService.planetIdService}}">{{planet.name}}</a></h5>
            <p class="card-text">
              <span class="badge badge-danger">Climate</span> {{planet.climate}}
              <br>
              <span class="badge badge-warning">Terrain</span> {{planet.terrain}}

            </p>
            <a routerLink="/planets/{{!planetService.searchView ? (linkProvider(planetsStored, 'name', planet.name) + 1) : this.planetService.planetIdService}}" class="btn btn-primary">Read more</a>
          </div>
        </div>
        <!--        planets' components-->

      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
<!--      <button (click)="consequtiveRequests()" type="button" class="btn btn-primary btn-lg" *ngIf="isSearched">Come back to Home</button>-->
    </div>
    <div class="d-flex justify-content-center mt-4">
<!--      <pagination-controls *ngIf="isLoaded" (pageChange)="getPage($event)"></pagination-controls>-->
      <nav aria-label="Page navigation example" *ngIf="isLoaded && !mainSearchView">
        <ul class="pagination">
          <li class="page-item" *ngFor="let item of getArrayFromNumber(total); let in = index">
            <a class="page-link" (click)="updateIndex(in, perPage)" href="#">{{in + 1}}</a></li>
        </ul>
      </nav>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <label>
        <select *ngIf="isLoaded && !mainSearchView" [(ngModel)]="perPage">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="100">100</option>
        </select>
      </label>
    </div>
  </div>
</div>
