<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Films
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
      <div class="card-body" >
        <ul *ngFor="let film of filmsToShow">
          <li>{{film.title}}, release date: {{film.release_date }}, director: {{film.director}}</li>
        </ul>
        <div *ngIf="!filmsLoaded" class="d-flex justify-content-center flex-column align-items-center">
          Retrieving data from the server.
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="noFilms && filmsLoaded">The planet has not been involved in any of the Star Wars episodes.</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Residents
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul *ngFor="let resident of residentsToShow">
          <li>{{resident.name}}, born (year): {{resident.birth_year}}</li>
        </ul>
        <div *ngIf="!residentsLoaded" class="d-flex justify-content-center flex-column align-items-center">
          Retrieving data from the server.
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="noResidents && residentsLoaded">No significant character role has been a resident on this planet.</div>
      </div>
    </div>
  </div>
</div>
