<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
<!--          <h1 class="h3 mb-0 text-gray-800"> {{ planet.name }} </h1>-->
          <a routerLink="/" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"> Back to Home</a>
        </div>

        <!-- Content Row -->
        <div class="row">

          <!-- Rotation period -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Rotation period: </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ (!(planet.rotation_period == "unknown")) ? (planet.rotation_period + " h") : "no data"  }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Orbital period -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Orbital period</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ (!(planet.orbital_period == "unknown")) ? (planet.orbital_period + " days") : "no data"  }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Gravity -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Gravity</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ (!(planet.gravity == "unknown")) ? (planet.gravity) : "no data"  }}</div>
                      </div>
<!--                      <div class="col">-->
<!--                        <div class="progress progress-sm mr-2">-->
<!--                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                        </div>-->
<!--                      </div>-->
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Diameter -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Diameter</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ (!(planet.diameter == "unknown")) ? (planet.diameter + " km") : "no data"  }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->

        <div class="row">

          <!-- Main description -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h1 class="m-0 font-weight-bold text-dark">{{planet.name}}</h1>

              </div>
              <!-- Card Body -->
              <div class="card-body">
                <!-- Content Row -->
                <div class="row">

                  <!-- Content Column -->
                  <div class="col-lg-6 mb-4">

                    <!-- Population Card -->
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Population</h6>
                      </div>
                      <div class="card-body">
                        {{ (!(planet.population == "unknown")) ? (planet.population | number:'') : "no data" }}
                      </div>
                    </div>

                    <!-- Surface water Card -->
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Surface Water</h6>
                      </div>
                      <div class="card-body">
                        {{(!(planet.surface_water == "unknown")) ? (planet.surface_water + "% of planet's surface") : "no data"}}

                      </div>

                    </div>

                    <!-- Climate and Terrain cards -->
                    <div class="row">
                      <div class="col-lg-6 mb-4">
                        <div class="card bg-success text-white shadow">
                          <div class="card-body text-white small">
                            Climate
                            <div class="text-white h5">{{(!(planet.climate == "unknown")) ? (planet.climate) : "no data"}}</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6 mb-4">
                        <div class="card bg-danger text-white shadow">
                          <div class="card-body text-white small">
                            Terrain
                            <div class="text-white h5">{{(!(planet.terrain == "unknown")) ? (planet.terrain) : "no data"}}</div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

<!--                  Films an Residents card goes here-->
                  <div class="col-lg-6 mb-4">

                    <app-films-and-residents></app-films-and-residents>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Image -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <img src="./assets/images/planets-images/Planet_{{planetId}}.png" class="card-img-top" alt="planet">
            </div>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
